# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [138]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [139]:
# Initialize csv data
city_weather_data_path = "city_weather_df.csv"

# Read the mouse data and the study results
city_weather_df = pd.read_csv(city_weather_data_path)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [140]:
# Visualize
print(len(city_weather_df))
city_weather_df = city_weather_df
city_weather_df

596

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.1203,-134.9692,298.85,71,89,4.98,PF,1612674745
1,Ushuaia,-54.8000,-68.3000,281.15,76,75,4.63,AR,1612674946
2,Tortolì,39.9256,9.6572,293.15,26,40,9.26,IT,1612674996
3,Bluff,-46.6000,168.3333,289.01,79,0,6.30,NZ,1612674997
4,Mildura,-34.2000,142.1500,299.26,34,23,4.63,AU,1612674997
...,...,...,...,...,...,...,...,...,...
591,Zeya,53.7500,127.2667,255.67,81,0,1.57,RU,1612674977
592,Houlton,46.1262,-67.8403,267.15,58,75,3.09,US,1612674865
593,Vrangel',42.7297,133.0839,265.38,80,0,6.88,RU,1612675053
594,Kinshasa,-4.3246,15.3215,296.15,94,53,0.67,CD,1612675070
595,Farafangana,-22.8167,47.8333,300.78,77,97,5.54,MG,1612675053

In [141]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [142]:
city_weather_data_complete = city_weather_df.dropna()

# Store 'Lat' and 'Lng' into  locations 
locations = city_weather_data_complete[["Lat", "Lng"]].astype(float)

# Convert Humidity value to float and store
# HINT: be sure to handle NaN values
humidity = city_weather_data_complete["Humidity"].astype(float)

In [143]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [144]:
# Multiple conditions can be set to narrow down or widen the filter
weather_data_fin = city_weather_df.dropna()
ideal_cities = weather_data_fin.loc[(weather_data_fin["Max Temp"] < 255) & (weather_data_fin["Wind Speed"] < 10) & (weather_data_fin["Cloudiness"] == 0), :]
ideal_cities = ideal_cities[["City", "Lat", "Lng", "Country"]]
ideal_cities.reset_index(drop=True)

               City      Lat       Lng Country
0          Cherskiy  68.7500  161.3000      RU
1             Pevek  69.7008  170.3133      RU
2        Lavrentiya  65.5833 -171.0000      RU
3           Talnakh  69.4865   88.3972      RU
4          Khatanga  71.9667  102.5000      RU
5  Krasnogorodskoye  56.8357   28.2822      RU
6            Anadyr  64.7500  177.4833      RU

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [145]:
hotel_df = ideal_cities

# Using DataFrame.insert() to add a column 
hotel_df.insert(1, "Hotel Name", "") 
hotel_df.reset_index(drop=True)

               City Hotel Name      Lat       Lng Country
0          Cherskiy             68.7500  161.3000      RU
1             Pevek             69.7008  170.3133      RU
2        Lavrentiya             65.5833 -171.0000      RU
3           Talnakh             69.4865   88.3972      RU
4          Khatanga             71.9667  102.5000      RU
5  Krasnogorodskoye             56.8357   28.2822      RU
6            Anadyr             64.7500  177.4833      RU

In [148]:
from pprint import pprint

hotel_name = []
city = []
country = []

for x in range(len(hotel_df)):
    
    # geocoordinates
    target_coordinates = str(hotel_df.iloc[x]['Lat']) + ", " + str(hotel_df.iloc[x]['Lng'])
    target_radius = 5000
    target_type = "hotel"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)

    # convert response to json
    places_data = response.json()

    pprint(places_data)

    
    hotel_name.append(places_data['results'][0]['name'])
    city.append(hotel_df.iloc[x]['City'])
    country.append(hotel_df.iloc[x]['Country'])

hotel_df["Hotel Name"] = hotel_name
hotel_df= hotel_df.dropna(how='any')
hotel_df.head()

{'error_message': 'The provided API key is invalid.',
 'html_attributions': [],
 'results': [],
 'status': 'REQUEST_DENIED'}

In [129]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [130]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Hotel Name: {hotel}" for hotel in hotel_name]
)

fig = gmaps.figure()
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))